.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000306;
}

.hero-image {
  position: absolute;
  inset: 0;
}

.heroimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 20%;
}

.hero-image {
  position: absolute;
  inset: 0;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.dots {
  position: absolute;
  inset: 0;
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #0071e3;
  box-shadow: 0 0 10px #0071e3;
  opacity: 40%;
  animation: float 18s ease-in-out infinite alternate;
}

.dot:nth-child(2) {
  animation-duration: 22s;
}
.dot:nth-child(3) {
  animation-duration: 17s;
}
.dot:nth-child(4) {
  animation-duration: 25s;
}
.dot:nth-child(5) {
  animation-duration: 20s;
}
.dot:nth-child(6) {
  animation-duration: 28s;
}
.dot:nth-child(7) {
  animation-duration: 24s;
}
.dot:nth-child(8) {
  animation-duration: 19s;
}
.dot:nth-child(9) {
  animation-duration: 27s;
}
.dot:nth-child(10) {
  animation-duration: 21s;
}

.dot:nth-child(2) {
  animation-delay: -2s;
}
.dot:nth-child(3) {
  animation-delay: -5s;
}
.dot:nth-child(4) {
  animation-delay: -8s;
}
.dot:nth-child(5) {
  animation-delay: -12s;
}
.dot:nth-child(6) {
  animation-delay: -4s;
}
.dot:nth-child(7) {
  animation-delay: -15s;
}
.dot:nth-child(8) {
  animation-delay: -10s;
}
.dot:nth-child(9) {
  animation-delay: -6s;
}
.dot:nth-child(10) {
  animation-delay: -18s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-8px, 5px);
  }

  40% {
    transform: translate(6px, -10px);
  }

  60% {
    transform: translate(-4px, 8px);
  }

  80% {
    transform: translate(10px, -4px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.hero_content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.left_content {
  width: 60%;
  /* border: 2px solid white; */
  display: flex;
  padding: 2rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.badge {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  color: rgb(31, 99, 224);
  backdrop-filter: blur(21px) saturate(129%);
  -webkit-backdrop-filter: blur(21px) saturate(129%);
  background-color: rgba(3, 18, 33, 0.56);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: 0.25s ease-in;
}

.badge:hover {
  background-color: aliceblue;
  color: #000306;
  transform: scale(0.95);
}

.tag_line {
  text-align: left;
  cursor: pointer;
  user-select: none;
  width: 75%;
}
.tag_line h1 {
  font-size: 3rem;

  font-weight: 600;
}

.text1 {
  color: rgb(86, 136, 231);
}

.text2 {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.intro {
  font-size: 1rem;
  color: rgb(197, 197, 197);
}

.contact_btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
.contact_btn {
  background-color: rgb(31, 99, 224);
  color: white;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  transition: 0.25s ease-in;
}

.contact_btn i {
  font-weight: 800;
  transform: rotate(-90deg);
}

.contact_btn:hover {
  background-color: white;
  color: #000306;
}

.contact_btn:hover .contact_btn i {
  transform: rotate(0deg);
}

.resume_btn {
  background-color: rgb(3, 14, 35);
  color: white;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  transition: 0.25s ease-in;
}
.resume_btn:hover {
  border: 1 solid rgb(31, 99, 224);
}

.right_content {
  width: 40%;
  /* border: 2px solid white; */
  display: flex;
  padding: 2rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.profile {
  width: 25rem;
  height: 25rem;
  box-shadow: rgba(11, 63, 121, 0.35) 0px 5px 15px;
  z-index: 5;
  border-radius: 1rem;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  animation: floating 10s infinite;
}
.profile img {
  width: 100%;
}

.profile:hover {
  transform: scale(85%);
  box-shadow: rgba(11, 63, 121, 0.35) 0px 5px 25px;
}

.box_1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0.75rem 0.75rem;
  /* padding: 1rem 0.5rem; */
  backdrop-filter: blur(21px) saturate(129%);
  -webkit-backdrop-filter: blur(21px) saturate(129%);
  background-color: rgba(3, 18, 33, 0.56);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: 0.25s ease-in;
  z-index: 10;
  animation: floating 4s infinite;
  
}
.box_1 span{
    color: rgb(86, 136, 231);
    font-size: 2rem;
}
.box_2{
     position: absolute;
  top: 90%;
  left: 60%;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  /* padding: 1rem 0.5rem; */
  backdrop-filter: blur(21px) saturate(129%);
  -webkit-backdrop-filter: blur(21px) saturate(129%);
  background-color: rgba(3, 18, 33, 0.56);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: 0.25s ease-in;
  z-index: 10;
  animation: floating 4s infinite;
}
.box_2 span{
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: rgb(86, 136, 231) ;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}

@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
